<div class="border spacing-y-3 p-3">
    <p> Obrigatória? <%= report_field.required %> </p>
    <p> Tipo? <%= report_field.field_type %> </p>
    <p> Opções <%= report_field.options %> </p>
    <p> <%= report_field.question.capitalize %> : (escreve resposta aqui) </p>
</div>