<div class="max-w-4xl mx-auto bg-white rounded-xl border border-gray-200 p-6 space-y-4 text-gray-900 mt-4">
    <div class="grid grid-cols-2 gap-4">

      <!-- nenhum dos @ ta renderizando?? -->
      <div class="border border-gray-200 rounded p-4 space-y-1">
        <div class="flex items-center space-x-1 text-green-600 font-semibold">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" stroke="currentColor" stroke-width="2"  viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4"/></svg>
          <h3>Reprovações passadas</h3>
        </div>
        <!-- muda a cor desse conforme for de 0->3  (verde, amarelo, laranja, vermelho) -->
        <p class="text text-gray-500"><%= ReportInfo.where(student: student, review_administrator: 'Adequado com Ressalvas' || 'Insatisfatório').count || 0%>/3 </p>
      </div>

      <div class="border border-gray-200 rounded p-4 space-y-1">
        <div class="flex items-center space-x-1 text-red-600 font-semibold">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" stroke="currentColor" stroke-width="2"  viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01"/></svg>
          <h3> Próximo prazo:</h3>
        </div>
        <!-- [Bookmark] ta bugado o @professor resolva jun-->
        <p class="text-red-600 font-semibold">Professor: <%= Report.where(id: ReportInfo.where(status: 'Sent', reviewer_id: professor.id, student_id: @student.id).pluck(:report_id))&.order(due_date_professor: :asc)&.first&.due_date_professor || "Já entregue" %></p>
        <p class="text-xs text-gray-500">Aluno: <%= Report.where(id: ReportInfo.where(status: 'Draft', reviewer_id: professor.id, student_id: @student.id).pluck(:report_id))&.order(due_date_student: :asc)&.first&.due_date_student || "Já entregue" %> </p>
      </div>

      <div class="border border-gray-200 rounded p-4 space-y-1">
        <div class="flex items-center space-x-1 text-purple-600 font-semibold">
          <h3> Publicações:</h3>
        </div>
        <p class="inline-block text-purple-600 font-semibold border-b-2 border-transparent hover:border-purple-600 transition-colors"><%= link_to "Visualizar Publicações", publications_path(student: @student), data: { turbo: false} %></p>
      </div>
    </div>
  </div>