<!-- aqui são as perguntas + respostas em si -->

<div>
    <p> Obrigatória? <%= report.required %> </p>
    <p> Tipo? <%= report.field_type %> </p>
    <p> Opções <%= report.options %> </p>
    <p> <%= report.question.capitalize %> : (resposta ainda n ta renderizando) </p>

</div>